* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}


.content-grid {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 50vw;
    min-height: 70vh;
    max-width: 500px;
    max-height: 70vh;

    background-color: rgba(50, 50, 50, 0.832);
    border-radius: 20px;
    box-shadow: 10px 14px 36px -9px rgba(6, 196, 239, 0.64);
    ;
}

.avatar {
    background-image: url(./images/avatar.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #90e0ef;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 90px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
}

header img {
    width: 50px;
}

.middle-part {
    margin: 25px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    color: #fff;
    transition: ease-in-out 1s;
}

.left-part {}


.middle-part:hover {
    color: #90e0ef;
    cursor: pointer;
}

.icon-part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    transition: ease-in-out 1s;
}



.icon-part img {
    width: 10rem;
}

.change-lang img {
    width: 3rem;


}

.change-lang img:hover {
    width: 3.5rem;
    transition: ease-in-out 1s;
}

.icon-part div:nth-of-type(1):hover {
    position: relative;
    bottom: 4px;
    border-bottom: 1px solid azure;
}

.icon-part div:nth-of-type(2):hover {
    position: relative;
    bottom: 4px;
    border-bottom: 1px solid azure;
}

.icon-part div:nth-of-type(3):hover {
    position: relative;
    bottom: 4px;
    border-bottom: 1px solid azure;
}

p {}